name: poetry checks

on:
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  diff-poetry-lock:
    # FIXME: Remove when https://github.com/target/make-python-devex/issues/119 is fixed
    continue-on-error: true
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    # This will post a comment on PRs when poetry.lock changes
    - name: Diff poetry.lock
      uses: target/diff-poetry-lock@1ef13108b924e907ed695ac172503091bd0129d4 # v0.0.3

