# from https://github.com/browniebroke/pre-commit-autoupdate-action
name: Pre-commit auto-update
on:
  # every day at midnight
  schedule:
    - cron: "0 16 * * 3"
  # on demand  
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
      
      - uses: browniebroke/pre-commit-autoupdate-action@deb83bfe0036e1116ee4e241d6220274d69b1f9e # v1.0.0
        env:
          SKIP: "Reset Poetry Project Version to 0.0.0"
      
      - uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sign-commits: true
          branch: update/pre-commit-hooks
          delete-branch: true
          labels: dependencies
          title: "Update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to the latest version.
          add-paths: ".pre-commit-config.yaml"
