# from https://github.com/browniebroke/pre-commit-autoupdate-action
name: Pre-commit auto-update
on:
  # every day at midnight
  schedule:
    - cron: "0 16 * * 3"
  # on demand
  workflow_dispatch:

permissions: {}

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

      - uses: browniebroke/pre-commit-autoupdate-action@f5c3ec85103b9f8f9be60b9c006cec763d2bdd02 # v1.0.1
        env:
          SKIP: "poetry-version-resetter"

      - name: Upload changed .pre-commit-config.yaml
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ".pre-commit-config.yaml"
          path: ".pre-commit-config.yaml"

  # This second, dependent job is necessary to isolate the content:write permissions that the auto-update job doesn't need.
  pr:
    needs: auto-update
    permissions:
      contents: write
      actions: none
      checks: none
      deployments: none
      issues: none
      discussions: none
      packages: none
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download changed .pre-commit-config.yaml
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ".pre-commit-config.yaml"

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sign-commits: true
          branch: update/pre-commit-hooks
          delete-branch: true
          labels: dependencies
          title: "Update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to the latest version.
          add-paths: ".pre-commit-config.yaml"
